.videoCard{
display: inline-block;
margin: 1em;
position: relative;
}
.videoCard video{
    max-width: 500px;
}
.videoCard button{
    display: hidden;
    font-size: 16px;
    border-radius: 50%;
    padding: 1.2em;
    background: #e0e0e0;
    box-shadow: 8px 8px 10px #a6a6a6, -8px -8px 10px #fff;
    border: none;
    transition: all;
    position: absolute;
    bottom: .8em;
    right: .8em;

}

.videoCard:hover button{
    display: block;
}
.mute{
    box-shadow: 8px 8px 10px #a615158c, -8px -8px 10px rgba(116, 30, 30, 0.44) !important;

}