.App {
  text-align: center;
  background: #e0e0e0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
  background: #e0e0e0;
}
.myCam {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}
.myCam video {
  width: 40vw;
  max-width: 500px;
  margin: 0 1em;
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: 10px 10px 20px #a6a6a6, -10px -10px 20px #fff;
}
.myCam ul li {
  list-style: none;
  margin: 1em 0;
}

.myCam ul li button {
  padding: 1em;
  font-size: 20px;
  border-radius: 50%;
  background: #e0e0e0;
  box-shadow: 10px 10px 20px #a6a6a6, -10px -10px 20px #fff;
  border: none;
}
.myCam.connecting video {
  box-shadow: 10px 10px 20px #75a51c, -10px -10px 20px rgb(199, 228, 33);
  animation: glowconn 2s infinite;
}

.myCam.rec video {
  box-shadow: 10px 10px 20px #1c4ca5, -10px -10px 20px rgb(33, 199, 228);
  animation: glowrec 5s infinite;
}

.input-box {
  margin: 1em 0;
}

.input-box button {
  padding: 0 1em;
  border-radius: 1em;
  background: #e0e0e0;
  box-shadow: 10px 10px 20px #a6a6a6, -10px -10px 20px #fff;
  height: 3em;
  border: none;
}
.input-box input {
  box-shadow: inset 10px 10px 20px #a6a6a6, inset -10px -10px 20px #fff;
  border-radius: 1em;
  padding: 0 1.3em;
  height: 3em;
  border: none;
  margin: 0 1em;
}

video {
  margin: 1em;
  width: 45vw;
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: 10px 10px 20px #a6a6a6, -10px -10px 20px #fff;
}

.counter {
  text-align: left;
  padding: 1em;
  box-shadow: -10px -10px 20px -15px, -10px 10px 20px -15px;

}
.counter h4{
  margin: 0;
}
.remote-box {
  display: flex;
  max-width: 100vw;
  overflow: scroll;
  background: #e0e0e0;

}

@keyframes glowrec {
  50% {
    box-shadow: -10px -10px 20px #1c4ca557, 10px 10px 20px rgb(33, 199, 228);
  }
}

@keyframes glowconn {
  50% {
    box-shadow: -10px -10px 13px #a6ff018a,
      10px 10px 13px rgba(225, 251, 75, 0.53);
  }
}
